

.mobileCarousel {
    width: 100%;
    height: auto;
}

.posterGoods {
    overflow: hidden;
    padding-bottom: 0.2rem;
}

.posterGoods .col-xs-12 {
    padding: 0.3rem 0.3rem 0 0.3rem !important;
}

.posterGoods .col-xs-12 img {
    width: 100%;
    height: auto;
}
.posterGoods .col-lg-4 {
    padding: 0.3rem 0.3rem 0.3rem 0rem!important;
}
.posterGoods .col-lg-4 img {
    width: 100%;
    height: auto;
}
.posterGoods .col-lg-4 .col-lg-12{
    padding:0;
}
.posterGoods .col-lg-4 .col-lg-12:nth-child(2){
    margin-top:0.3rem;
}
.posterGoods .col-lg-6{
    padding:0;
}
.goodsCarouselTittle h2 {
    margin-top: 0.4rem;
    line-height: 0.5rem;
    font-size: 0.48rem;
}

.goodsCarouselItem>div{
    padding-top:0.3rem;
}

/*.goodsCarouselItem .item .center{*/
/*    padding-bottom:10px;*/
/*}*/
.goodsCarouselItem s {
    color: #E0C990;
}

.goodsCarouselItem img {
    width: 90%;
    height: auto;
}
.goodsCarouselItem .item  .goodsName{
    margin-top:0.2rem;
}
.goodsCarouselItem .item>div {
    padding-top: 0.2rem!important;
}
.goodsCarouselItem .p1 {
    color: #333;
    font-size: 0.28rem;
    font-weight: bold;
}

.goodsCarouselItem .p2 {
    color: #666;
    font-size: 0.32rem;
}

.goodsCarouselItem .p3 {
    color: #000;
    font-size: 0.32rem;
    font-weight: bold;
}

.carousel-example-generic-goods{
    padding-bottom:0.4rem!important;
}
.carousel-example-generic-goods .carousel-control {
    position: absolute;
    height: 0.3rem;
    bottom: 0;
    /*right: 20px;*/
    width: 15%;
    font-size: 0.24rem;
    color: #D1C590;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-example-generic-goods .carousel-control .glyphicon-chevron-left, .carousel-example-generic-goods .carousel-control .icon-prev,
.carousel-example-generic-goods .carousel-control .glyphicon-chevron-right {
    /*left: 50%;*/
    /*margin-left: -10px;*/
    font-size: 0.24rem;
}

.carousel-example-generic-goods .carousel-control.right {
    right: 0.2rem !important;
}

.carousel-example-generic-goods .carousel-control.left {
    right: 0.5rem !important;
}

.carousel-example-generic-goods .carousel-indicators {
    position: absolute;
    top: -0.24rem;
    width: 100%;
    left: 0;
    z-index: 15;
    padding-left: 0;
    text-align: center;
    list-style: none;
    height: 0.04rem;
    background: transparent;
    margin: 0 !important;

}
.carouselTopLine{
    position: absolute;
    top:-0.24rem;
    height: 0.04rem;
    background: #e5e5e5;
}
.carousel-example-generic-goods .carousel-indicators li {
    /*display: inline-block;*/
    width: 20%;
    height: 0.04rem;
    margin: 0;
    text-indent: -20rem;
    cursor: pointer;
    background-color: #e5e5e5;
    border: none;
}

.carousel-example-generic-goods .carousel-indicators .active {
    width: 20%;
    height: 0.04rem;
    margin: 0;
    background-color: #D1C590;
}
.carousel-goods-control{
    position:absolute;
    top:-0.5rem;
    right:0.2rem;
    width:0.6rem;
    height:0.3rem;
    line-height: 0.3rem;
}
.shop-now{
    width:100%;
}

.shop-now img{
    width:100%;
    height: auto;
    margin-top:0.5rem;
}

.sell-you-bags{
    margin-top:1rem;
}
.sell-you-bags h1{
    font-size:0.64rem;
    height:0.64rem;
    text-align: center;
    line-height: 0.64rem;
    /*font-weight: bold;*/
}
.sell-you-bags-line{
    height:0.08rem;
    width:100%;
    background: #e5e5e5;
    z-index: 0;
}
.sell-you-bags-line>div{
    width:3.6rem;
    height:0.08rem;
    background: #D1C590;
    margin:0 auto;
    z-index: 100;
}
.blog-line{
    height:0.04rem;
    width:100%;
    background: #e5e5e5;
    z-index: 0;
}
.blog-line>div{
    width:2rem;
    height:0.04rem;
    background: #D1C590;
    margin:0 auto;
    z-index: 100;
}
.sell-you-bags-item div:nth-child(1){
    height:2rem;
    line-height: 2rem;
    font-size:0.72rem;
    color:#222;
    margin-top:0.4rem;
}
.sell-you-bags-item div:nth-child(2){
    height:1rem;
    line-height: 1rem;
    font-size:0.42rem;
    color:#333;
}
.sell-you-bags-item div:nth-child(3){
    line-height: 0.5rem;
    font-size:0.32rem;
    color:#444;
}
.sell-you-bags{
    overflow: hidden;
}
.sell-you-bags-item{
    width:80%;
    margin-left:10%;
}
.sell-now-box{
    /*height:180px;*/
    line-height: 3.6rem;
    width:100%;
}
.sell-now-box>div{
    width:3.2rem;
    text-align: center;
    height:1rem;
    line-height: 1rem;
    border:0.04rem solid #D1C590;
    background: #fff;
    margin:1.2rem auto;
    color:#D1C590;
    font-size:0.48rem;
    border-radius: 0.2rem;
}
.blog-content .blog-item{
    padding:0.6rem 0.4rem;
}
.blog-content .blog-item h2 {
    font-size:0.36rem;
    margin-top:1rem;
    width:80%;
    margin-left:10%;
}
.blog-content .blog-item p{
    font-size:0.24rem;
    margin-top:0.4rem;
    width:80%;
    margin-left:10%;
    line-height:0.4rem;
}
.blog-content .blog-item .more {
    font-size:0.28rem;
    margin-top:0.6rem;
    width:80%;
    margin-left:10%;
    cursor: pointer;
}
.blog-content .blog-item img{
    width:100%;
    height:auto;
    vertical-align: middle;
}
.blog-content .row{
    margin:0!important;
}
/*pc端样式*/
@media screen and (min-width: 450px) {
    .sell-you-bags-item {
        margin: 0;
        width: 33.33%;
        padding-right:0.4rem!important;
    }
}


