.sort-filter{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:1.2rem;
    line-height: 1.2rem;
    border-bottom:0.04rem solid #e5e5e5;
}
.sort-filter>div{
    width:50%;
    color:#D0C48F;
    font-size:0.32rem;
    font-weight: bolder;
    text-align: center;
    position:relative;
}
.sort-filter>div .midBorder{
    position: absolute;
    right: 0.02rem;
    top: 0.3rem;
    width: 0.06rem;
    height: 0.9rem;
    background: #f5f5f5;
    display: block;
}
.sort-filter>div span{
    font-weight: normal;
}
.goodsCarouselItem{
    overflow: hidden;
}

.goodsCarouselItem s {
    color: #E0C990;
}

.goodsCarouselItem img {
    width: 90%;
    height: auto;
}
.goodsCarouselItem .item  .goodsName{
    margin-top:0.2rem;
}
.goodsCarouselItem .item>div {
    padding-top: 0.4rem!important;
}
.goodsCarouselItem .p1 {
    color: #333;
    font-size: 0.28rem;
    font-weight: bold;
}

.goodsCarouselItem .p2 {
    color: #666;
    font-size: 0.32rem;
}

.goodsCarouselItem .p3 {
    color: #000;
    font-size: 0.32rem;
    font-weight: bold;
}
.pageBox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 1.6rem;
    line-height: 1.6rem;
    margin: 0!important;
    padding-top: 0.6rem;
}
.pageBox .page-btn{
    color:#D1C590!important;
    background-color: #fff!important;
    font-size:0.36rem
}
.pageBox  li>a{
    background-color: #f5f5f5!important;
    color:#333!important;
    border:none!important;
}
.pageBox li>a:active,.pageBox li>a:hover{
    background-color: #D1C590!important;
    color:#fff!important;
}
.sort-filter>div a,.sort-filter>div a:active{
    color:#D0C48F;
    width:100%;
    height:100%;
    display: block;
    text-decoration: none;
}
.progressFilter{
    width:100%;
    height:50px;
    margin-top:0.2rem;
}
.flex-filter{
    display: flex;
    justify-content: space-between;
    margin-top:0.6rem;
}
.flex-filter .filter{
    color:#D0C48F;
    width:30%;
    height: 0.5rem;
    line-height: 0.5rem;
}
.flex-filter .price{
    color:#333;
    width:70%;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: right;
}
.filterTitle{
    text-align: left;
    margin-top:0.6rem;
    color:#333;
    font-weight: 600;
}
.searchBox{
    position:relative;
    line-height: 0.52rem;
    margin-top:0.2rem;
}
.searchBox input{
    width:100%;
}
.searchBox span{
    position: absolute;
    right:5px;
    top:0.14rem;
    font-size:0.28rem;
}
.searchResult{
    border-bottom: 0.04rem solid #f5f5f5;
    margin-top:0.2rem;
    padding-bottom:0.15rem;
}
.searchResult>div{
    height:4.6rem;
    overflow-y: scroll;
}
.checkList{
    margin-top:0.2rem;
}
.checkList label{
    height:0.6rem;
    line-height: 0.6rem;
    font-weight: normal;
    width:100%;
}
.checkList label span:nth-child(3){
    float:right;
    margin-right:0.2rem;
}
.filterList{
    border-bottom: 0.04rem solid #f5f5f5;
    margin-top:0.2rem;
    padding-bottom:0.15rem;
}
.filterListActive{
    height:0.6rem;
    line-height: 0.6rem;
    width:100%;
    background: #333;
    display: flex;
    justify-content: space-between;
    color:#fff;
    padding:0 0.2rem;
    margin-top:0.2rem;
}
.filterListItem{
    height:0.6rem;
    line-height: 0.6rem;
    width:100%;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    color:#333;
    padding:0 0.2rem;
    margin-top:0.2rem;
}